In [1]:
#My first attempt
mylist=["mercury", "venus", "earth", "ceres", "vesta", "pallas"]
mylist[0:2] = "ceres", "vesta", "pallas"
mylist[3:5] = "mercury", "venus", "earth"
popped=mylist.pop(-1)
popped=mylist.pop(-1)
            
print(mylist)

['ceres', 'vesta', 'pallas', 'mercury', 'venus', 'earth']

In [2]:
#This is what I came up with later.
A = ["mercury", "venus", "earth", "ceres", "vesta", "pallas" ]
B=A[:len(A)//2]
C=A[len(A)//2:]
D=C+B
print(D)

['ceres', 'vesta', 'pallas', 'mercury', 'venus', 'earth']

In [ ]:
#For both codes, I assumed that I was supposed to swap a specific list that I made up. Not "any" list.

In [3]:
#Single digit even numbers
n=int(input("Please enter a single digit integer "))
nums=list(range(n+1))
even_nums = [i for i in nums if i%2==0]

if n>9:
    print("invalid number")
elif n<0:
    print("invalid number")
else:
    print(even_nums)

Please enter a single digit integer 9
[0, 2, 4, 6, 8]